.main {
  flex: 1;
  max-width: 800px;
  margin: 6em auto 2em;
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
  padding: 40px 20px;
  text-align: center;

  & a {
    color: white;
  }
}
